  <!-- Main content -->
  <section class="content">
      <div class="row">
          <div class="col-md-12">
            <%# @records %>
            <!-- Graph Data -->
            <%= content_tag :div, "", id: "calendar_chart", data: {calendar: @records } %>
              <div class="box box-primary">
                  <div class="box-body no-padding">
                      <!-- THE CALENDAR -->
                      <div id="full_calendar"></div>
                  </div><!-- /.box-body -->
              </div><!-- /. box -->
          </div><!-- /.col -->
      </div><!-- /.row -->
  </section><!-- /.content -->