<aside class="left-side sidebar-offcanvas collapse-left">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li><a>&nbsp;</a></li>
            <!-- Status Bars -->
            <li class="clearfix">
                <div class="box-body text-center">
                    <!-- future loop for week -->
                    <% week_graph.each do |day_stat| %>
                        <div class="progress vertical sm">
                            <div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style='height: <%= day_stat%>%'>
                                <span class="sr-only">80%</span>
                            </div>
                        </div>
                    <% end %>
                </div><!-- /.box-body -->
            </li>
             <!-- Statistics -->
            <li>
                 <div class="box box-solid border-radius-none collapsed-box box-special" style="margin-bottom: 0px;">
                    <div class="box-header">
                        <small class="sm">TODAY</small>
                        <div class="box-tools pull-right">
                            <h4><%= today_statistics[:hour] %> <small>H&nbsp; </small>: <%= today_statistics[:min] %> <small>M</small></h4>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <!-- aorsitenaorsiten aosiretn -->
                    </div><!-- /.box-body -->
                 </div><!-- /.box -->
                 <div class="box box-solid border-radius-none collapsed-box box-special">
                    <div class="box-header">
                        <small class="sm">THIS WEEK</small>
                        <div class="box-tools pull-right">
                            <h4><%= week_statistics[:hour] %> <small>H&nbsp; </small>: <%= week_statistics[:min] %><small>M</small></h4>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <!-- aorsitenaorsiten aosiretn -->
                    </div><!-- /.box-body -->
                 </div><!-- /.box -->
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
