<!-- Calendar -->
<li>
    <div class="box box-solid bg-green-gradient border-radius-none collapsed-box">
        <div class="box-header">
            <i class="fa fa-calendar"></i>
            <h3 class="box-title">Calendar</h3>
            <!-- tools box -->
            <div class="pull-right box-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                    <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a style="color:black" href="#">Add new event</a></li>
                        <li><a style="color:black" href="#">Clear events</a></li>
                        <li class="divider"></li>
                        <li><a style="color:black" href="#">View calendar</a></li>
                    </ul>
                </div>
                <button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
                <button class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>                                        
            </div><!-- /. tools -->
        </div><!-- /.box-header -->
        <div class="box-body no-padding" style='display:none;'>
            <!--The calendar -->
            <div id="calendar" style="width: 100%"></div>
        </div><!-- /.box-body -->  
    </div><!-- /.box -->                            
</li>
<!-- GRAPH -->
<li>
    <!-- solid sales graph -->
    <div class="box box-solid bg-teal-gradient border-radius-none collapsed-box" >
        <div class="box-header">
            <i class="fa fa-th"></i>
            <h3 class="box-title">Preview</h3>
            <div class="box-tools pull-right">
                <button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
                <button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body border-radius-none no-padding" style="display:none">
             <div class="chart" id="line-chart" style="height: 250px;"></div>                                     
        </div><!-- /.box-body -->
        <div class="box-footer no-border" style='display:none'>
            <div class="row">

                <div class="col-xs-4 text-center">
                    <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                    <div class="knob-label"></div>
                </div><!-- ./col -->
                <div class="col-xs-4 text-center">
                    <input type="text" class="knob" data-readonly="true" value="60" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                    <div class="knob-label"></div>
                </div><!-- ./col -->
                <div class="col-xs-4 text-center">
                    <input type="text" class="knob" data-readonly="true" value="90" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                    <div class="knob-label"></div>
                </div><!-- ./col -->
            </div><!-- /.row -->
        </div><!-- /.box-footer -->
    </div><!-- /.box -->     
</li>