<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-12">

                <!-- Projects loop -->
            <% @projects.each do |project| %>
                <%= content_tag :div, class: "box box-project", style: "border-left: 10px solid #{color(project.color)};", data: {id: project.id,type: project.class.to_s} do %>
                    <div id: "timeable" class="box-header">
                        <i class="fa fa-star"></i>
                        <h3 class="box-title"><%= project.name %></h3>
                        <div class="pull-right box-tools">
                            <!-- button with a dropdown -->
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a style="color:black" href="#">Settings</a></li>
                                </ul>
                            </div>
                        </div><!-- /. tools -->
                        <div class="spec pull-right timer">
                            <h5>00 <small>H&nbsp; </small>: 00 <small>M</small></h5>
                        </div>
                    </div>
                    <div id: "timeable" class="box-body clearfix">
                      <div class="spec pull-right">
                            <h4>00 <small>H&nbsp; </small>: 00 <small>M</small></h4>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <!-- Tasks loop -->
                            <% project.tasks.each do |task| %>
                                <%= content_tag :div, id: "timeable", class: "col-md-3 text-center", data: {id: task.id,type: task.class.to_s} do %>
                                    <div class="box-info box box-body"> <%= task.name %>  </div>
                                <% end %>
                            <% end %>
                        </div> <!-- /.row -->
                    </div>
                <% end %> <!-- /.box (chat box) -->
            <% end %>

        </section><!-- /.Left col -->
    </div><!-- /.row (main row) -->
</section><!-- /.content