<%= content_tag :div, class: "box box-project box-project-success collapsed-box", style: "border-left: 10px solid #{color_type(task.timeable) }" do -%>
    <div class="box-header">
        <i class="fa fa-star"></i>
        <h3 class="box-title"><%= task.timeable.name %></h3> <br> |
            <small><%= task.timeable.project.name unless task.timeable.is_a?(Project) %> </small>
        <div class="pull-right timer spec">
            <p>
                <%= task.start_time.strftime("%I") %> : <%= task.start_time.strftime("%M") %>
                <small><%= task.start_time.strftime("%p") %> </small> -
                <%= task.stop_time.strftime("%I") %> : <%= task.stop_time.strftime("%M") %>
                <small><%= task.stop_time.strftime("%p") %></small>
            </p>
        </div>
    </div>
    <div class="box-body" style="display:none">
    </div>
<% end %>

