<!-- Top Navigation -->
<div class="box box-solid top-navigation">
    <div class="box-header">
    </div>
    <div class="box-body clearfix text-center">
     <div class="spec">
        <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, date: @date.prev_day %> &nbsp;
        <%= @date.strftime("%A %d %B %Y") %> &nbsp;
        <%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, date: @date.next_day %>
     </div>
    </div>
</div><!-- /.box -->

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-12">
            <!-- Statistics -->
            <div class="box box-solid">
                <div class="box-header">
                </div>
                <div class="box-body clearfix text-center">
                    <div class="pull-left text-center">
                        <h4 class="spec">EXPECTED WORK TIME</h4>
                        <h4><%= '%02d' % @expected_work[:hour] %> <small>H&nbsp; </small>: <%= '%02d' % @expected_work[:min] %> <small>M</small></h4>                    </div>
                    <div class="pull-right text-center">
                        <h4 class="spec">HOURS WORKED</h4>
                        <h4><%= '%02d' % @worked[:hour] %> <small>H&nbsp; </small>: <%= '%02d' % @worked[:min] %> <small>M</small></h4>
                    </div>
                </div>
            </div><!-- /.box -->

            <!--  -->
            <% if @records_by_date[@date] %>
                <%= render :partial => 'tasks', :collection => @records_by_date[@date], :as => :task %>
            <% else %>
                <div class="box box-solid">
                    <div class="box-header">
                    </div>
                    <div class="box-body clearfix text-center">
                            <h4 class="spec">THERE ARE NO ENTRIES</h4>
                    </div>
                </div><!-- /.box -->
            <% end %>

        </section><!-- /.Left col -->
    </div><!-- /.row (main row) -->
</section><!-- /.content