<div class="col-lg-6">
    <div class="box box-solid">
        <div class="box-header">
        </div>
        <div class="box-body clearfix text-center">
            <div class="col-lg-12">
                <div class="pull-left col-lg-8 text-center">
                    <div id="container_bar" style="width: 100%; height: 440px;"></div>
                </div>
                <div class="pull-right col-lg-4 text-center bar-stat">
                    <h5 class="spec">HOURS WORKED</h5>
                    <h4><%= '%02d' % @worked[:hour] %> <small>H&nbsp; </small>: <%= '%02d' % @worked[:min] %> <small>M</small></h4>
                </div>
            </div>
        </div>
    </div><!-- /.box -->
</div>

<div class="col-lg-6">
    <div class="box box-solid">
        <div class="box-header">
        </div>
        <div class="box-body clearfix text-center">
            <div id="container" style="width: 100%; height: 440px;"></div>
        </div>
    </div><!-- /.box -->
</div>