<div class="nav-tabs-custom top-navigation">
    <ul class="nav nav-tabs pull-right">

                <%# if project.is_a?(Project) %>
        <li class="">
            <%= link_to url_for(date: @date) do %>
                <i class="fa fa-calendar"></i>
            <% end %>
        </li>

        <li class=""><%= link_to "Day", summary_path(date: @date.prev_day, project_id: params[:project_id]) %></li>
        <li class=""><%= link_to "Week", summary_week_path(date: @date.prev_day, project_id: params[:project_id]) %></li>
        <li class=""><%= link_to "Month", summary_month_path(date: @date.prev_day, project_id: params[:project_id]) %></li>
        <li class=""><%= link_to "Year", summary_year_path(date: @date.prev_day, project_id: params[:project_id]) %></li>

        <li class="pull-left header"><i class="fa fa-calendar-o"></i></li>

        <li class="pull-left nav-date-center">
            <div class="spec">
                <%= yield :content_nav %>
            </div>
        </li>
    </ul>
</div>
<% if params[:project_id].present? %>
    <%= content_tag :div, class: "nav-tabs-custom top-navigation", style: "background-color: #{color(@project.color)};" do %>
        <ul class="nav nav-tabs pull-right">
                <li class="pull-left header"><i class="fa fa-archive"></i></li>
                <li class="pull-left nav-project-center">
                    <div class="project">
                        <%= @project.name %>
                    </div>
                </li>
        </ul>
    <% end %>
<% end %>