<div class="col-lg-6">
    <%= content_tag :div, class: "box box-project", style: "border-left: 10px solid #{color(project.color)};" do %>
        <div class="box-header">
            <i class="fa fa-star"></i>
            <h3 class="box-title"><%= project.name %></h3>
            <div class="pull-right box-tools">
            </div><!-- /. tools -->
            <div class="pull-right timer">
                <!-- <h4>29 <small style="color: white">H&nbsp; </small>: 22 <small style="color: white">M</small></h4> -->
            </div>
        </div>
        <div class="box-body clearfix">
            <div class="pull-right">
                <h4><%= '%02d' % worked[:hour] %> <small>H&nbsp; </small>: <%= '%02d' % worked[:min] %> <small>M</small></h4>
            </div>
        </div>
    <% end %> <!-- /.box (chat box) -->
</div>