<% projects.each do |project, worked| %>
    <% unless worked[:sec] == 00 %>
        <% if project.is_a?(Project) %>
            <%= link_to url_for(date: @date, project_id: project.id) do %>
                <%= render :partial => "project", :locals => {project: project, worked: worked} %>
            <% end %>
        <% else %>
            <%= render :partial => "project", :locals => {project: project, worked: worked} %>
        <% end %>
    <% end %>
<% end %>
