<% content_for :content_nav do %>
    <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe,  summary_week_path(date: @date.prev_week, project_id: params[:project_id]) %> &nbsp;
    <%= @date.strftime("%A %B %Y") %> &nbsp;
    <%= link_to "<i class='fa fa-arrow-right'></i>".html_safe,  summary_week_path(date: @date.next_week, project_id: params[:project_id]) %> &nbsp;
<% end %>

<!-- Calendar Tabs -->
<%= render 'navigation' %>

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">

            <!-- Graph Data -->
            <%= content_tag :div, "", id: "projects_chart", data: {projects_pie: GraphData.data_pie(@projects),  projects_bar: GraphData.data_bar(@week_stats), value_fields: GraphData.valueFields(@projects)  } %>

            <!-- Statistics -->
            <%= render 'graphs' %>

            <!-- Projects -->
            <%= render :partial => "setup_project", :locals => {:projects => @projects} %>

        </section><!-- /.Left col -->
    </div><!-- /.row (main row) -->
</section><!-- /.content