<!DOCTYPE html>
<html>
<head>
  <title>Jiffy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body class="skin-black">

        <%= render 'shared/header' %>

        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <%= render 'shared/sidebar' %>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side strech">
              <%= yield %>
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

</body>
</html>
